<div class="cv_content">
    <div class="cv_timeline">
        {{#each experiences}}
            <div class="exp_frame">
                <div class="exp_date_frame_desktop">
                    <div class="exp_date_desktop text_light"> {{start_date}}</div>
                    <div class="exp_date_duration_desktop text_bold">{{duration}}</div>
                </div>
                <div class="exp_timeline_frame">
                    <div class="exp_timeline_head"></div>
                    <div class="exp_timeline_dot"></div>
                    <div class="exp_timeline_body"></div>
                </div>
                <div class="exp_content_frame">
                    <div class="exp_title_frame">
                        <div class="exp_company text_bold">{{company}}</div>
                        <div class="exp_job_title">{{job_title}}</div>
                        <div class="exp_date_mobile text_light">{{start_date}} - {{duration}}</div>
                    </div>
                    <div class="exp_body">{{{description}}}</div>
                </div>    
            </div>
        {{/each}}
    </div>
    <div class="cv_btn_frame unselectable" id="cv_btn_frame">
        <span> PDF version available </span>
        <a class="contained_button" id="btn_download" href="./cv.pdf"  download="Gualti.pdf" > 
            <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M19 7.5L13.25 13.25V3H10.75V13.25L5 7.5V11L12 18L19 11V7.5ZM20 21V19H4V21H20Z"/>
            </svg>
            <span>Download</span>                                   
        </a>
    </div>
</div>