<div class="cv_content">
    <div class="cv_timeline">
        {{#each experiences}}
            <div class="exp_frame">
                <div class="exp_date_frame_desktop">
                    <div class="exp_date_desktop text_light"> {{start_date}}</div>
                    <div class="exp_date_duration_desktop text_bold">{{duration}}</div>
                </div>
                <div class="exp_timeline_frame">
                    <div class="exp_timeline_head"></div>
                    <div class="exp_timeline_dot"></div>
                    <div class="exp_timeline_body"></div>
                </div>
                <div class="exp_content_frame">
                    <div class="exp_title_frame">
                        <div class="exp_company text_bold">{{company}}</div>
                        <div class="exp_job_title">{{job_title}}</div>
                        <div class="exp_date_mobile text_light">{{start_date}} - {{duration}}</div>
                    </div>
                    <div class="exp_body">{{{description}}}</div>
                </div>    
            </div>
        {{/each}}
    </div>
    <div class="cv_btn_frame unselectable" id="cv_btn_frame">
        <span> PDF version available </span>
        <a class="contained_button" id="btn_download" href="./cv.pdf"  download="CV_Gualti.pdf" > 
            <span>Download</span>                                   
            <svg width="16" height="19" viewBox="0 0 16 19" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.99998 12.3788L6.99998 1.20875C6.99998 0.658751 7.44998 0.208751 7.99998 0.208751C8.54998 0.208751 8.99998 0.658751 8.99998 1.20875L8.99998 12.3788L13.89 7.50875C14.28 7.11875 14.91 7.11875 15.3 7.50875C15.4872 7.69558 15.5925 7.94923 15.5925 8.21375C15.5925 8.47827 15.4872 8.73192 15.3 8.91875L8.69998 15.4988C8.30998 15.8888 7.67998 15.8888 7.28998 15.4988L0.699982 8.90875C0.309982 8.51875 0.309982 7.88875 0.699982 7.49875C1.08998 7.10875 1.72998 7.10875 2.11998 7.49875L6.99998 12.3788Z"/>
                <path d="M1.2311 16.9213C0.776222 16.9213 0.407471 17.29 0.407471 17.7449C0.407471 18.1998 0.776222 18.5685 1.2311 18.5685H14.7688C15.2237 18.5685 15.5925 18.1998 15.5925 17.7449C15.5925 17.29 15.2237 16.9213 14.7688 16.9213H1.2311Z"/>
            </svg>
        </a>
    </div>
</div>