{{#each project}}
    <div class="project_container">
        <div class="project_image_frame">
            
        </div>
        <div class="project_header_container">
            <div class="project_title_frame">
                <span class="project_title text_display_small"> {{title}} </span>
                <span class="project_subtitle text_light"> {{subtitle}} </span>
            </div>
            <div class="project_tag_frame">
                {{#each tags}}
                    <div class="tag"> {{this}} </div>
                {{/each}}
            </div>
        </div>  
        <div class="project_body"> {{body}} </div>
        <div class="project_links_frame">
            {{#each links}}
                <div class="project_link" > 
                    <svg class="project_link_icon" alt="Arrow_right" width="6" height="8" viewBox="0 0 6 8" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.4134 0.706267L5.0034 3.29627C5.3934 3.68627 5.3934 4.31627 5.0034 4.70627L2.4134 7.29627C1.7834 7.92627 0.703398 7.47627 0.703398 6.58627L0.703398 1.40627C0.703398 0.516267 1.7834 0.0762671 2.4134 0.706267Z"/>
                    </svg>
                    <a href="{{url}}"target="_blank" > {{name}} </a>
                </div>
            {{/each}}
        </div>
    </div>
{{/each}}