<h1> {{title}} <span class="dot">.</span> </h1>
<h3> {{subtitle}}  </h3>
<p> {{body}} </p>
<div class="project_tag_frame">
    {{#each tags}}
        <div class="tag"> {{this}} </div>
    {{/each}}
</div>
<div class="project_links_frame">
    {{#each links}}
    <a href="{{url}}"target="_blank" >
        <div class="project_link unselectable" > 
            <i class="fab {{icon}}"></i>
            <span> {{name}} </span>
            <svg class="project_link_icon" alt="Arrow_right" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.90498 17.5092L15.8034 9.61086V16.5122C15.8034 17.0638 16.2559 17.5163 16.8075 17.5163C17.359 17.5163 17.8045 17.0708 17.8045 16.5193V7.19963C17.8045 6.64809 17.359 6.20261 16.8075 6.20261L7.48779 6.18847C7.22327 6.18817 6.9695 6.29312 6.78246 6.48016C6.59542 6.6672 6.49047 6.92097 6.49077 7.18549C6.49077 7.73703 6.93625 8.18251 7.48779 8.18251L14.3892 8.19665L6.49077 16.095C6.10186 16.4839 6.10186 17.1203 6.49077 17.5092C6.87968 17.8982 7.51607 17.8982 7.90498 17.5092Z"/>
            </svg>  
        </div>
    </a>
    {{/each}}
</div>
